<!-- <!DOCTYPE html>
<html lang="ja">
<head>
  <title>すごい旅人求人サイト「SAGOJO（サゴジョー）」</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="keywords" content="SAGOJO,サゴジョー,旅,仕事,旅人,海外,世界一周,バックパッカー,コンテンツ制作,企画,編集,フリーランス,マッチング" />
  <meta name="description" content="SAGOJOは、旅先でコンテンツ製作の「シゴト」をする事で、企業から報酬として「リターン」を受け取りながら旅する事ができる「すごい旅人求人サイト」です。" /> -->
  <!-- ogp -->
  <!-- <meta property="og:description" content="SAGOJOは、旅先でコンテンツ製作の「シゴト」をする事で、企業から報酬として「リターン」を受け取りながら旅する事ができる「すごい旅人求人サイト」です。" />
  <meta property="og:title" content="すごい旅人求人サイト 「SAGOJO」" />
  <meta property="og:image" content="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/ogimage.png" />
  <meta property="og:url" content="http://www.sagojo.link/" />
  <meta property="og:site_name" content="すごい旅人求人サイト 「SAGOJO」" />
  <meta property="og:type" content="article" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="http://www.sagojo.link/" /> -->
  <!-- <meta property="fb:admins" content="#" /> -->
  <!-- ogp -->
  <!-- <link rel="icon" type="image/png" href="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/favicon.ico" sizes="32x32">
  <link rel="stylesheet" media="screen,print" href="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/css/base.css" />
  <link rel="stylesheet" href="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/css/slick.css">
  <link rel="manifest" href="/manifest.json"> -->
  <!-- <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69411864-1', 'auto');
// ga('set', 'userType', userType);
var metricValue = 'loggedout';
var Value = 'loggedout';
ga('set', 'dimension1', Value);
ga('set', 'metric1', metricValue);
ga('send', 'pageview');
</script> -->
<!-- <meta name="google-site-verification" content="MVm3yEcVbJBu3hqNtuGFVjF3AcxQr2cqgQ_Gqa04Dek" />
<script src="https://cdn.optimizely.com/js/5420161970.js"></script>

</head> -->
<body>

  <div id="wrap">
    <header id="header-01">
      <div class="header-inner">
        <a title="メニュー" class="btn-header-globalnav" id="js-btnHeaderGlobalNav" href="#"><span></span></a>
        <h1 class="header-logo"><a href="/"><img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/logo.svg" alt="SAGOJO"><span>すごい旅人求人サイト - サゴジョー</span></a></h1>
        <nav class="header-globalnav-01" id="js-headerGlobalNav01" role="navigation">
          <ul>
            <li><a href="/">ホーム</a></li>
            <li><a href="/work/recommend">シゴト</a></li>
            <li><a href="/sugoi-labo/latest">すごい旅研究所</a></li>
            <li><a href="/beginner">はじめての方はこちら</a></li>
            <li><a href="/business">企業の方はこちら</a></li>
            <li><a href="/faq">FAQ</a></li>
          </ul>
        </nav>
        <div class="header-utility-01">
          <ul class="header-utility-list-01">
            <li class="login"><a href="/login">ログイン</a></li>
            <li class="registry"><a href="/signup">旅人登録</a></li>
          </ul>
          <!-- /header-utility-01 --></div>
          <!-- /header-inner --></div>
          <!-- /header-01 --></header>

<!--[if lt IE 9]>
<div class="ieError">
<dl>
<dt>Internet Explorer 8以下でご覧のみなさまへ</dt>
<dd>お使いのブラウザは利用推奨環境外です。一部コンテンツが利用できない場合があります。この機会にぜひ<a href="http://www.google.com/chrome/intl/ja/landing.html">Google Chrome</a>や<a href="http://www.mozilla.jp/firefox/">Firefox</a>等の最新のブラウザをお使いください。</dd>
</dl>
</div>
<![endif]-->


<!--新岡記述　slider　2016/10/05-->
<div class="eyecatch type-02">
  <div class="wrapper">
    <div class="slider_wrap">
      <ul id="slider_main">
        <li>
          <div class="slide_body">
            <div class="slider_link">
              <a href="/work/show/30">
                <img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/%E3%83%86%E3%83%86%E3%83%9E%E3%83%BC%E3%83%81/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%882016.png" alt="">
                <div class="count">
                  <p>あと<br>
                    <span class="big one">9</span>日

                  </p>
                </div>
                <div class="slide_content thum-job-01">
                  <div class="thum-job-company">
                    <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-company.svg" alt="会社名"><p>株式会社SAGOJO</p>
                  </div>
                  <h3 class="thum-job-title">写真をシゴトにしたい旅人大募集！「旅 × Instagram」のシゴト、はじまります</h3>
                  <div class="thum-job-return">
                    <div class="inner-01">
                      <img src="/common/img/icon-money.svg" alt="金額">
                      <p>採用企業が決定次第、個別にご相談</p>
                    </div>
                  </div>
                  <div class="thum-job-taglist">
                    <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-tag-01.svg" alt="タグ">
                    <ul>
                      <li>写真</li>
                      <li>世界どこでも</li>
                      <li>カメラマン</li>
                    </ul>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="slide_body">
            <div class="slider_link">
              <a href="/work/show/45">
                <img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/%E5%B0%8F%E3%81%95%E3%81%AA%E7%B5%84%E7%B9%94%E3%81%AE%E6%9C%AA%E6%9D%A5%E5%AD%A6/img1479193260502.jpg" alt="">
                <div class="count">
                  <p>あと<br>
                    <span class="big one">0</span>日

                  </p>
                </div>
                <div class="slide_content thum-job-01">
                  <div class="thum-job-company">
                    <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-company.svg" alt="会社名"><p>小さな組織の未来学編集部</p>
                  </div>
                  <h3 class="thum-job-title">【旅人通信社】旅人が見た！世界の商人の〈金運・社運〉エピソード募集</h3>
                  <div class="thum-job-return">
                    <div class="inner-01">
                      <img src="/common/img/icon-money.svg" alt="金額">
                      <p>￥ <span class="price">1,500</span> 〜 ￥ <span class="price">3,000</span> 円 / 件</p>
                    </div>
                  </div>
                  <div class="thum-job-taglist">
                    <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-tag-01.svg" alt="タグ">
                    <ul>
                      <li>情報提供</li>
                      <li>世界どこでも</li>
                    </ul>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="slide_body">
            <div class="slider_link">
              <a href="/work/show/23">
                <img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/Lancers/mainnn.jpg" alt="">
                <div class="count">
                  <p>あと<br>
                    <span class="big two">17</span>日

                  </p>
                </div>
                <div class="slide_content thum-job-01">
                  <div class="thum-job-company">
                    <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-company.svg" alt="会社名"><p>ランサーズ株式会社</p>
                  </div>
                  <h3 class="thum-job-title">地方に滞在して働くとフリーランスはもっと楽しい−ランサーズ「さすらいワーク」の魅力を伝えてくれる旅人募集！</h3>
                  <div class="thum-job-return">
                    <div class="inner-01">
                      <img src="/common/img/icon-money.svg" alt="金額">
                      <p>￥ <span class="price">5,000</span> 〜 ￥ <span class="price">15,000</span> ／本</p>
                    </div>
                  </div>
                  <div class="thum-job-taglist">
                    <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-tag-01.svg" alt="タグ">
                    <ul>
                      <li>写真</li>
                      <li>日本全国</li>
                      <li>ライター</li>
                    </ul>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="bg_wrap">
      <ul id="slider_bg">
        <li><img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/%E3%83%86%E3%83%86%E3%83%9E%E3%83%BC%E3%83%81/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%882016.png" alt=""></li>
        <li><img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/%E5%B0%8F%E3%81%95%E3%81%AA%E7%B5%84%E7%B9%94%E3%81%AE%E6%9C%AA%E6%9D%A5%E5%AD%A6/img1479193260502.jpg" alt=""></li>
        <li><img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/Lancers/mainnn.jpg" alt=""></li>
      </ul>
    </div>
  </div> 
  <!-- /eyecatch-01 --></div>
  <!---->

  <div class="main-content col-2 type-01">

    <div id="main" class="left" role="main">
      <div class="inner">

        <h2 class="top-hdg-02">新着のシゴト</h2>
        <div class="thum-job-01">
          <a href="/work/show/23">
            <div class="image">
              <img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/Lancers/%E3%81%95%E3%81%95%E3%82%80%E3%82%80.jpg" alt="">
              <p class="thum-job-status">募集中</p>
              <!-- /image --></div>
              <div class="content">
                <div class="thum-job-company">
                  <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-company.svg" alt="会社名">
                  <p>ランサーズ株式会社</p>
                  <!-- /thum-job-company --></div>
                  <h3 class="thum-job-title">地方に滞在して働くとフリーランスはもっと楽しい−ランサーズ「さすらいワーク」の魅力を伝えてくれる旅人募集！</h3>
                  <p class="thum-job-desc">なんと…「日本最大級のクラウドソーシング」でおなじみ、ランサーズさんが、SAGOJOで旅人を募集することになりました！！ 
                    ...</p>
                    <p class="thum-job-utility">募集終了まで<span><span class="date">
                      17
                    </span><span> 日</span></span><span class="view">1380<span> view</span></span></p>
                    <div class="thum-job-taglist">
                      <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-tag-01.svg" alt="タグ">
                      <ul>
                        <li>写真</li>
                        <li>日本全国</li>
                        <li>ライター</li>
                      </ul>
                      <!-- /thum-job-taglist --></div>
                      <div class="thum-job-return">
                        <div class="inner-01">
                          <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-money.svg" alt="金額">
                          <p>￥ <span class="price">5,000</span> 〜 ￥ <span class="price">15,000</span> ／本</p>
                          <!-- /inner-01 --></div>
                          <div class="inner-02">
                            <!-- /inner-02 --></div>
                            <!-- /thum-job-return --></div>
                            <p class="thum-job-label">NEW</p>
                            <!-- /content --></div>
                          </a>
                          <!-- /thum-job-01 --></div>
                          <div class="thum-job-01">
                            <a href="/work/show/45">
                              <div class="image">
                                <img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/%E5%B0%8F%E3%81%95%E3%81%AA%E7%B5%84%E7%B9%94%E3%81%AE%E6%9C%AA%E6%9D%A5%E5%AD%A6/img1479193260502sq.jpg" alt="">
                                <p class="thum-job-status">募集中</p>
                                <p class="thum-job-status easy-apply">簡単応募</p>
                                <!-- /image --></div>
                                <div class="content">
                                  <div class="thum-job-company">
                                    <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-company.svg" alt="会社名">
                                    <p>小さな組織の未来学編集部</p>
                                    <!-- /thum-job-company --></div>
                                    <h3 class="thum-job-title">【旅人通信社】旅人が見た！世界の商人の〈金運・社運〉エピソード募集</h3>
                                    <p class="thum-job-desc">「世界の商人・社長がつかんでいる〈金運・社運〉」をお題に、「Youはなんだか上手くやっているようだけど、どこでその運をつかん...</p>
                                    <p class="thum-job-utility">募集終了まで<span><span class="date">
                                      0
                                    </span><span> 日</span></span><span class="view">181<span> view</span></span></p>
                                    <div class="thum-job-taglist">
                                      <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-tag-01.svg" alt="タグ">
                                      <ul>
                                        <li>情報提供</li>
                                        <li>世界どこでも</li>
                                      </ul>
                                      <!-- /thum-job-taglist --></div>
                                      <div class="thum-job-return">
                                        <div class="inner-01">
                                          <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-money.svg" alt="金額">
                                          <p>￥ <span class="price">1,500</span> 〜 ￥ <span class="price">3,000</span> 円 / 件</p>
                                          <!-- /inner-01 --></div>
                                          <div class="inner-02">
                                            <!-- /inner-02 --></div>
                                            <!-- /thum-job-return --></div>
                                            <p class="thum-job-label">NEW</p>
                                            <!-- /content --></div>
                                          </a>
                                          <!-- /thum-job-01 --></div>
                                          <div class="thum-job-01">
                                            <a href="/work/show/30">
                                              <div class="image">
                                                <img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/%E3%83%86%E3%83%86%E3%83%9E%E3%83%BC%E3%83%81/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202016-11-01%2013.38.37square.png" alt="">
                                                <p class="thum-job-status">募集中</p>
                                                <p class="thum-job-status easy-apply">簡単応募</p>
                                                <!-- /image --></div>
                                                <div class="content">
                                                  <div class="thum-job-company">
                                                    <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-company.svg" alt="会社名">
                                                    <p>株式会社SAGOJO</p>
                                                    <!-- /thum-job-company --></div>
                                                    <h3 class="thum-job-title">写真をシゴトにしたい旅人大募集！「旅 × Instagram」のシゴト、はじまります</h3>
                                                    <p class="thum-job-desc">旅先で写真を撮るのが好きな方、写真を通じたコミュニケーションをとるのが得意な方。あなたの旅がシゴトになるチャンス、ここにあり...</p>
                                                    <p class="thum-job-utility">募集終了まで<span><span class="date">
                                                      9
                                                    </span><span> 日</span></span><span class="view">6821<span> view</span></span></p>
                                                    <div class="thum-job-taglist">
                                                      <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-tag-01.svg" alt="タグ">
                                                      <ul>
                                                        <li>写真</li>
                                                        <li>世界どこでも</li>
                                                        <li>カメラマン</li>
                                                      </ul>
                                                      <!-- /thum-job-taglist --></div>
                                                      <div class="thum-job-return">
                                                        <div class="inner-01">
                                                          <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-money.svg" alt="金額">
                                                          <p>採用企業が決定次第、個別にご相談</p>
                                                          <!-- /inner-01 --></div>
                                                          <div class="inner-02">
                                                            <!-- /inner-02 --></div>
                                                            <!-- /thum-job-return --></div>
                                                            <!-- /content --></div>
                                                          </a>
                                                          <!-- /thum-job-01 --></div>
                                                          <div class="thum-job-01">
                                                            <a href="/work/show/39">
                                                              <div class="image">
                                                                <img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/%E6%97%85%E4%BA%BAbar%E5%8B%9F%E9%9B%86%E8%A8%98%E4%BA%8B/29360796960_7784546483_z.jpg" alt="">
                                                                <p class="thum-job-status">募集中</p>
                                                                <!-- /image --></div>
                                                                <div class="content">
                                                                  <div class="thum-job-company">
                                                                    <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-company.svg" alt="会社名">
                                                                    <p>BnA HOTEL Koenji</p>
                                                                    <!-- /thum-job-company --></div>
                                                                    <h3 class="thum-job-title">お酒片手に旅の話をしませんか？ 月に一度だけオープンするSAGOJOの「旅人BAR」でバーテンダー募集！</h3>
                                                                    <p class="thum-job-desc">旅先で過ごす最初の夜、まだ土地勘のない街を歩き回り、ふと見つけたバーのドアを開ける瞬間は何度経験してもどきどきするものです。...</p>
                                                                    <p class="thum-job-utility">募集終了まで<span><span class="date">
                                                                      20
                                                                    </span><span> 日</span></span><span class="view">926<span> view</span></span></p>
                                                                    <div class="thum-job-taglist">
                                                                      <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-tag-01.svg" alt="タグ">
                                                                      <ul>
                                                                        <li>未経験OK</li>
                                                                        <li>東京</li>
                                                                        <li>バーテンダー</li>
                                                                      </ul>
                                                                      <!-- /thum-job-taglist --></div>
                                                                      <div class="thum-job-return">
                                                                        <div class="inner-01">
                                                                          <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-money.svg" alt="金額">
                                                                          <p>バーの売上の5-10%</p>
                                                                          <!-- /inner-01 --></div>
                                                                          <div class="inner-02">
                                                                            <!-- /inner-02 --></div>
                                                                            <!-- /thum-job-return --></div>
                                                                            <!-- /content --></div>
                                                                          </a>
                                                                          <!-- /thum-job-01 --></div>
                                                                          <div class="thum-job-01">
                                                                            <a href="/work/show/19">
                                                                              <div class="image">
                                                                                <img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/%E6%97%85%E4%BA%BA%E9%80%9A%E4%BF%A1%E7%A4%BE/cabbage_eye2.jpg" alt="">
                                                                                <p class="thum-job-status">募集中</p>
                                                                                <p class="thum-job-status easy-apply">簡単応募</p>
                                                                                <!-- /image --></div>
                                                                                <div class="content">
                                                                                  <div class="thum-job-company">
                                                                                    <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-company.svg" alt="会社名">
                                                                                    <p>株式会社SAGOJO</p>
                                                                                    <!-- /thum-job-company --></div>
                                                                                    <h3 class="thum-job-title">世界を駆け巡り、まだ世に出ていない情報を発掘する旅人ジャーナリストになろう！「旅人通信社」始まります</h3>
                                                                                    <p class="thum-job-desc">世界を飛び回り、知らない場所や人に積極的に出会いに行く旅人のみなさん。そのフットワークを存分に活かせる新しいシゴトがスタート...</p>
                                                                                    <p class="thum-job-utility">募集終了まで<span><span class="date">
                                                                                      9
                                                                                    </span><span> 日</span></span><span class="view">1840<span> view</span></span></p>
                                                                                    <div class="thum-job-taglist">
                                                                                      <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-tag-01.svg" alt="タグ">
                                                                                      <ul>
                                                                                        <li>カンタン応募</li>
                                                                                        <li>世界どこでも</li>
                                                                                        <li>ジャーナリスト</li>
                                                                                      </ul>
                                                                                      <!-- /thum-job-taglist --></div>
                                                                                      <div class="thum-job-return">
                                                                                        <div class="inner-01">
                                                                                          <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-money.svg" alt="金額">
                                                                                          <p>￥ <span class="price">500</span> 〜 ￥ <span class="price">1,000</span> 円／採用された情報</p>
                                                                                          <!-- /inner-01 --></div>
                                                                                          <div class="inner-02">
                                                                                            <!-- /inner-02 --></div>
                                                                                            <!-- /thum-job-return --></div>
                                                                                            <!-- /content --></div>
                                                                                          </a>
                                                                                          <!-- /thum-job-01 --></div>
                                                                                          <div class="thum-job-01">
                                                                                            <a href="/work/show/13">
                                                                                              <div class="image">
                                                                                                <img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/%E3%83%A0%E3%83%BC/eyecatch_mu2.png" alt="">
                                                                                                <p class="thum-job-status">募集中</p>
                                                                                                <p class="thum-job-status easy-apply">簡単応募</p>
                                                                                                <!-- /image --></div>
                                                                                                <div class="content">
                                                                                                  <div class="thum-job-company">
                                                                                                    <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-company.svg" alt="会社名">
                                                                                                    <p>株式会社学研プラス</p>
                                                                                                    <!-- /thum-job-company --></div>
                                                                                                    <h3 class="thum-job-title">世界の謎・不思議に迫る旅をしよう！ 人気オカルト雑誌『月刊ムー』が旅人からのミステリー情報を大募集</h3>
                                                                                                    <p class="thum-job-desc">UFO、宇宙人、心霊写真、超能力……いつの時代も人の心を掴んで離さない超科学な現象の数々。そんな「謎」や「不思議」を探究し、...</p>
                                                                                                    <p class="thum-job-utility">募集終了まで<span><span class="date">
                                                                                                      40
                                                                                                    </span><span> 日</span></span><span class="view">3851<span> view</span></span></p>
                                                                                                    <div class="thum-job-taglist">
                                                                                                      <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-tag-01.svg" alt="タグ">
                                                                                                      <ul>
                                                                                                        <li>情報提供</li>
                                                                                                        <li>世界どこでも</li>
                                                                                                        <li>ライター</li>
                                                                                                      </ul>
                                                                                                      <!-- /thum-job-taglist --></div>
                                                                                                      <div class="thum-job-return">
                                                                                                        <div class="inner-01">
                                                                                                          <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-money.svg" alt="金額">
                                                                                                          <p>￥ <span class="price">3,000</span> 〜 ￥ <span class="price">18,000</span> ／ 本</p>
                                                                                                          <!-- /inner-01 --></div>
                                                                                                          <div class="inner-02">
                                                                                                            <!-- /inner-02 --></div>
                                                                                                            <!-- /thum-job-return --></div>
                                                                                                            <!-- /content --></div>
                                                                                                          </a>
                                                                                                          <!-- /thum-job-01 --></div>
                                                                                                          <p><a class="btn type-06" href="/work/recommend">もっとみる</a></p>

                                                                                                          <!-- /inner --></div>
                                                                                                          <!-- /main --></div>

                                                                                                          <div id="side" class="right">
                                                                                                            <h3 class="top-hdg-02">新着 すごい旅研究所の記事</h3>
                                                                                                            <div class="thum-column-01">
                                                                                                              <a href="/sugoi-labo/show/23">
                                                                                                                <div class="image">
                                                                                                                  <img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/%E3%83%A9%E3%82%B0%E3%83%BC%E3%83%8A%E3%83%86%E3%83%B3%E3%83%9C%E3%82%B9/tomomi/tomomi_eye2.jpg" alt="">
                                                                                                                  <!-- /image --></div>
                                                                                                                  <div class="content">
                                                                                                                    <h3 class="thum-column-title">地元民が教える愛知県・蒲郡のおすすめ観光スポット「蒲郡いいとこだで１回きてみりん」</h3>
                                                                                                                    <p class="thum-column-utility">2016-11-18<span>611 view</span></p>
                                                                                                                    <!-- /content --></div>
                                                                                                                    <p class="thum-column-label">NEW</p>
                                                                                                                  </a>
                                                                                                                  <!-- /thum-column-01 --></div>
                                                                                                                  <div class="thum-column-01">
                                                                                                                    <a href="/sugoi-labo/show/22">
                                                                                                                      <div class="image">
                                                                                                                        <img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/%E3%83%A9%E3%82%B0%E3%83%BC%E3%83%8A%E3%83%86%E3%83%B3%E3%83%9C%E3%82%B9/mero51_2.jpg" alt="">
                                                                                                                        <!-- /image --></div>
                                                                                                                        <div class="content">
                                                                                                                          <h3 class="thum-column-title">【為栗メロ】ラグーナテンボス×駅メモ！のコラボキャンペーンに全力でコスプレして行ってきた</h3>
                                                                                                                          <p class="thum-column-utility">2016-11-01<span>997 view</span></p>
                                                                                                                          <!-- /content --></div>
                                                                                                                        </a>
                                                                                                                        <!-- /thum-column-01 --></div>
                                                                                                                        <div class="thum-column-01">
                                                                                                                          <a href="/sugoi-labo/show/21">
                                                                                                                            <div class="image">
                                                                                                                              <img src="http://s3-ap-northeast-1.amazonaws.com/sagojo/uploads/%E7%9F%A5%E7%BE%8E%E3%81%95%E3%82%93%E3%82%B3%E3%83%A9%E3%83%A0/isa_main_square.jpg" alt="">
                                                                                                                              <!-- /image --></div>
                                                                                                                              <div class="content">
                                                                                                                                <h3 class="thum-column-title">「今、旅に出ないと一生後悔する」20代最後、“世界一周×仕事”への挑戦｜灯台もと暮らし編集長・伊佐知美</h3>
                                                                                                                                <p class="thum-column-utility">2016-10-17<span>1261 view</span></p>
                                                                                                                                <!-- /content --></div>
                                                                                                                              </a>
                                                                                                                              <!-- /thum-column-01 --></div>

                                                                                                                              <h3 class="top-hdg-02 g-mt30">注目 すごい旅研究所の記事</h3>
                                                                                                                              <div class="thum-column-01">
                                                                                                                                <a href="/sugoi-labo/show/7">
                                                                                                                                  <div class="image">
                                                                                                                                    <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/uploads/yuki_eye_2.jpg" alt="">
                                                                                                                                    <!-- /image --></div>
                                                                                                                                    <div class="content">
                                                                                                                                      <h3 class="thum-column-title">「旅人 × 地方」で生まれる、娯楽を超えた旅の可能性【旅の未来を考える：中尾有希】</h3>
                                                                                                                                      <p class="thum-column-utility">2016-04-07<span>3736 view</span></p>
                                                                                                                                      <!-- /content --></div>
                                                                                                                                    </a>
                                                                                                                                    <!-- /thum-column-01 --></div>
                                                                                                                                    <div class="thum-column-01">
                                                                                                                                      <a href="/sugoi-labo/show/4">
                                                                                                                                        <div class="image">
                                                                                                                                          <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/uploads/2.JPG" alt="">
                                                                                                                                          <!-- /image --></div>
                                                                                                                                          <div class="content">
                                                                                                                                            <h3 class="thum-column-title">ただの旅日記になってない？ 旅の「記事」を書くライターが意識するべき3つのコツ</h3>
                                                                                                                                            <p class="thum-column-utility">2016-04-06<span>3404 view</span></p>
                                                                                                                                            <!-- /content --></div>
                                                                                                                                          </a>
                                                                                                                                          <!-- /thum-column-01 --></div>
                                                                                                                                          <div class="thum-column-01">
                                                                                                                                            <a href="/sugoi-labo/show/8">
                                                                                                                                              <div class="image">
                                                                                                                                                <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/uploads/yotayota.jpg" alt="">
                                                                                                                                                <!-- /image --></div>
                                                                                                                                                <div class="content">
                                                                                                                                                  <h3 class="thum-column-title">スポンサーを獲得した「旅の企画書」公開！自転車で西ヨーロッパ一周『2010 ツール・ド・ヨーロッパ』中村洋太</h3>
                                                                                                                                                  <p class="thum-column-utility">2016-04-08<span>2474 view</span></p>
                                                                                                                                                  <!-- /content --></div>
                                                                                                                                                </a>
                                                                                                                                                <!-- /thum-column-01 --></div>

                                                                                                                                                <p><a class="btn type-06" href="/sugoi-labo/latest">もっとみる</a></p>

                                                                                                                                                <div class="side-sns-01">
                                                                                                                                                  <p class="message-01"><img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/logo.svg" alt="SAGOJO">をフォローする</p>
                                                                                                                                                  <ul class="side-sns-list">
                                                                                                                                                    <li><a target="_blank" href="https://www.facebook.com/sagojo.travel/?ref=aymt_homepage_panel" class="btn facebook-01 w-100"><img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-fb.svg" alt="facebook">フォローする</a></li>
                                                                                                                                                    <li><a target="_blank" href="https://twitter.com/sagojo_travel" class="btn twitter-01 w-100"><img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/icon-tw-02.svg" alt="twitter">フォローする</a></li>
                                                                                                                                                  </ul>
                                                                                                                                                  <p class="message-02">フォローして新着のシゴト情報をゲット！</p>
                                                                                                                                                  <!-- /side-sns-01 --></div>

                                                                                                                                                  <!-- /side --></div>

                                                                                                                                                  <!-- /content --></div>

                                                                                                                                                  <div class="sub-content type-02">
                                                                                                                                                    <div class="inner">
                                                                                                                                                      <ul class="subnav-list">
                                                                                                                                                        <li>
                                                                                                                                                          <a href="/beginner">
                                                                                                                                                            <div class="image">
                                                                                                                                                              <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/img-subnav-list-01.svg" alt="">
                                                                                                                                                              <!-- /image --></div>
                                                                                                                                                              <dl>
                                                                                                                                                                <dt>はじめての方は<br>こちら</dt>
                                                                                                                                                                <dd>SAGOJOの使い方を確認しよう</dd>
                                                                                                                                                              </dl>
                                                                                                                                                            </a>
                                                                                                                                                          </li>
                                                                                                                                                          <li>
                                                                                                                                                            <a href="/business">
                                                                                                                                                              <div class="image">
                                                                                                                                                                <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/img-subnav-list-02.svg" alt="">
                                                                                                                                                                <!-- /image --></div>
                                                                                                                                                                <dl>
                                                                                                                                                                  <dt>企業の方は<br>こちら</dt>
                                                                                                                                                                  <dd>SAGOJOがご提供できる価値を<br>ご確認ください</dd>
                                                                                                                                                                </dl>
                                                                                                                                                              </a>
                                                                                                                                                            </li>
                                                                                                                                                            <li>
                                                                                                                                                              <a href="/faq">
                                                                                                                                                                <div class="image">
                                                                                                                                                                  <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/img-subnav-list-03.svg" alt="">
                                                                                                                                                                  <!-- /image --></div>
                                                                                                                                                                  <dl>
                                                                                                                                                                    <dt class="adjust-line">FAQ</dt>
                                                                                                                                                                    <dd>よくあるご質問はこちら</dd>
                                                                                                                                                                  </dl>
                                                                                                                                                                </a>
                                                                                                                                                              </li>
                                                                                                                                                              <li>
                                                                                                                                                                <a href="/signup">
                                                                                                                                                                  <div class="image">
                                                                                                                                                                    <img src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/img-subnav-list-04.svg" alt="">
                                                                                                                                                                    <!-- /image --></div>
                                                                                                                                                                    <dl>
                                                                                                                                                                      <dt class="adjust-line">旅人登録</dt>
                                                                                                                                                                      <dd>登録してシゴトに応募しよう</dd>
                                                                                                                                                                    </dl>
                                                                                                                                                                  </a>
                                                                                                                                                                </li>
                                                                                                                                                              </ul>
                                                                                                                                                              <!-- /inner --></div>
                                                                                                                                                              <!-- /sub-content --></div>
                                                                                                                                                              <aside>
                                                                                                                                                                <ul class="banner-list-01">
                                                                                                                                                                  <li><a href="/work/recommend"><span>シゴト</span>を見る</a></li>
                                                                                                                                                                  <li><a href="/sugoi-labo/latest"><span>すごい旅研究所</span>を見る</a></li>
                                                                                                                                                                </ul>
                                                                                                                                                              </aside>
                                                                                                                                                              <footer id="footer-01" role="contentinfo">
                                                                                                                                                                <div class="footer-inner">
                                                                                                                                                                  <p class="footer-lead-01">Travelers make the world GOKIGEN.</p>
                                                                                                                                                                  <div class="footer-col-wrap-01">
                                                                                                                                                                    <div class="footer-col">
                                                                                                                                                                      <ul class="footer-list-col-01">
                                                                                                                                                                        <li>主な機能
                                                                                                                                                                          <ul>
                                                                                                                                                                            <li><a href="/">ホーム</a></li>
                                                                                                                                                                            <li><a href="/work/recommend">シゴト</a></li>
                                                                                                                                                                            <li><a href="/sugoi-labo/latest">すごい旅研究所</a></li>
                                                                                                                                                                            <li><a href="/login">ログイン</a></li>
                                                                                                                                                                            <li><a href="/signup">旅人登録</a></li>
                                                                                                                                                                          </ul>
                                                                                                                                                                        </li>
                                                                                                                                                                        <li>SAGOJOについて
                                                                                                                                                                          <ul>
                                                                                                                                                                            <li><a href="/beginner">はじめての方はこちら</a></li>
                                                                                                                                                                            <li><a href="/faq">FAQ</a></li>
                                                                                                                                                                            <li><a href="/business">企業の方はこちら</a></li>
                                                                                                                                                                            <li><a href="mailto:info@sagojo.link">仲間になる</a></li>
                                                                                                                                                                            <li><a href="/company">運営会社について</a></li>
                                                                                                                                                                            <li><a href="/rules">利用規約</a></li>
                                                                                                                                                                            <li><a href="/privacy">プライバシーポリシー</a></li>
                                                                                                                                                                            <li><a href="mailto:info@sagojo.link">お問い合わせ</a></li>
                                                                                                                                                                          </ul>
                                                                                                                                                                        </li>
                                                                                                                                                                      </ul>
                                                                                                                                                                      <!-- /footer-col --></div>
                                                                                                                                                                      <div class="footer-col footer-form-opinion-01">
                                                                                                                                                                        <p>SAGOJOについてご意見をお聞かせください</p>
                                                                                                                                                                        <form action="/footer" method="post" accept-charset="utf-8">
                                                                                                                                                                          <input class="textbox-02 type-03 footermail" type="text" id="job-type" placeholder="メールアドレスを入力してください" name="email">
                                                                                                                                                                          <textarea name="opinion"></textarea>
                                                                                                                                                                          <input type="hidden" name="url" value="/">
                                                                                                                                                                          <input type="submit" value="SAGOJOに意見を送信する">
                                                                                                                                                                        </form>
                                                                                                                                                                        <!-- /footer-col --></div>
                                                                                                                                                                        <!-- /footer-col-wrap-01 --></div>
                                                                                                                                                                        <div id="earth">
                                                                                                                                                                          <div class="inner">
                                                                                                                                                                            <img class="star1" src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/footer-star1.png" alt="">
                                                                                                                                                                            <img class="star2" src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/footer-star2.png" alt="">
                                                                                                                                                                            <img class="kinton" src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/footer-kinton.png" alt="">
                                                                                                                                                                            <img class="earth" src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/footer-hito-earth.gif" alt="">
                                                                                                                                                                            <!-- /inner --></div>
                                                                                                                                                                          </div>
                                                                                                                                                                          <p class="copyright" lang="en">&copy; SAGOJO Inc.</p>
                                                                                                                                                                          <!-- /footer-inner --></div>
                                                                                                                                                                          <!-- /footer-01 --></footer>

                                                                                                                                                                          <!-- /wrap --></div>
                                                                                                                                                                          <script type="text/javascript">
                                                                                                                                                                            window._pt_lt = new Date().getTime();
                                                                                                                                                                            window._pt_sp_2 = [];
                                                                                                                                                                            _pt_sp_2.push('setAccount,287ace99');
                                                                                                                                                                            var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                                                                                                                                                                            (function() {
                                                                                                                                                                              var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;
                                                                                                                                                                              atag.src = _protocol + 'js.ptengine.jp/pta.js';
                                                                                                                                                                              var stag = document.createElement('script'); stag.type = 'text/javascript'; stag.async = true;
                                                                                                                                                                              stag.src = _protocol + 'js.ptengine.jp/pts.js';
                                                                                                                                                                              var s = document.getElementsByTagName('script')[0];
                                                                                                                                                                              s.parentNode.insertBefore(atag, s);s.parentNode.insertBefore(stag, s);
                                                                                                                                                                            })();
                                                                                                                                                                          </script>
                                                                                                                                                                        </body>
                                                                                                                                                                        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


                                                                                                                                                                        <script>window.jQuery || document.write('<script src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/js/jquery.min.js"><\/script>')</script>
                                                                                                                                                                        <script src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/js/common.js"></script>
                                                                                                                                                                        <script src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/js/slick.js"></script>
                                                                                                                                                                        <script src="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/js/slider.js"></script>
                                                                                                                                                                        </html>
