<!DOCTYPE html>
<html>
<head>
  <title>すごい旅人求人サイト「SAGOJO（サゴジョー）」</title>
  <meta charset="UTF-8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="icon" type="image/png" href="https://sagojo.s3-ap-northeast-1.amazonaws.com/common/img/favicon.ico" sizes="32x32">
  <%#= favicon_link_tag('fabicon.ico') %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
